@import './base.css';

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.btnsContainer {
  text-align: center;
}

.btnsContainer button {
  outline: 0;
  margin: 10px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 26px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 14px 18px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}

.btnsContainer button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
  background-color: #32de84;
}
.btnsContainer button:focus-visible {
  outline-offset: 1px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 2rem 2rem;
    text-align: center;
  }
}
